epgstation/config/*
!epgstation/config/*.js
!epgstation/config/*.py
!epgstation/config/*.template
epgstation/data/*
epgstation/logs/*
epgstation/thumbnail/*

mirakurun/config/*
mirakurun/data/*
!mirakurun/config/server.yml
!mirakurun/config/tuners.yml

!.gitkeep

.env

rec/*.mp4
rec/*.ts
rec/*.npz

drec/*.mp4
drec/*.ts
drec/*.npz
